<html>
    <head>
        <title>Get Rekt</title>
        <link rel="stylesheet" type="text/css" href="CSS/style.css" />
        <link rel="stylesheet" type="text/css" href="CSS/menu.css" />
        <link rel="stylesheet" type="text/css" href="CSS/800px.css" media="screen and (max width: 800px)" />

        <script src="/socket.io/socket.io.js"></script>
        <script src="web_scripts/homePage.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>

    <style>
        /* This styling is for basic margin setup of page */
        body {
            margin-left: 0px;
            margin-right: 0px;
            margin-top: 0px;
            margin-bottom: 0px;
        }
    </style>

    <body>
        <div id="container"></div>
        <div id="Header"><img id="imgLogo" src="theme/CorrectLogoGR_5.png" /></div>
        <!-- make user login into site to view home page -->
        <% if(user == undefined) {%>
        <div id="logInContainer">
            <h2 id="logInTitle">Not Logged In</h2>
            <a id="logInButton" href="./auth/google" onclick="googleLogin()">Login with Google!</a>
        </div>
        <% } else { %>
        <!-- 'menu' id is the navigation bar -->
        <div id="menu">
            <!-- unordered list for the nav bar -->
            <ul>
                <li><a href="/">Home </a></li>
                <li><a href="/profile">Profile </a></li>
                <li><a href="#">About</a></li>
                <li><a href="./auth/google" onclick="googleLogin()">Login with Google!</a></li>
                <li><a href="upload.html">Upload Clip</a></li>
            </ul>
        </div>
        <div id="feed">
            <div id="clipContainer">
                <div id="clipOwner"></div>
            </div>
        </div>

        <% } %>
    </body>
</html>
