<html>

<head>
    <title>Home EJS </title>
    <link rel="stylesheet" type="text/css" href="CSS/style.css" />
    <link rel="stylesheet" type="text/css" href="CSS/menu.css" />
    <link rel="stylesheet" type="text/css" href="CSS/800px.css" media="screen and (max width: 800px)" />

    <script src="/socket.io/socket.io.js"></script>
    <script src="web_scripts/homePage.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</head>

<style>
    /* This styling is for basic margin setup of page */
    body {
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
</style>

<script>
    window.onload = function () {
        var socket = io();
        socket.emit('request posts');

        socket.on('receive posts', function (obj) {
            var query = JSON.parse(obj);
            socket.emit('debug', query);
            for (var i = 0; i < query.length; i++) {
                var obj = query[i];
                var clip = $("<iframe/>");
                clip.attr({
                    width: 560,
                    height: 315,
                    src: obj.url,
                    frameborder: 0
                });
                $("#clipContainer").append(clip);
            }
        });
    };
</script>

<body>
    <% if(user == undefined) {%>
    <h2>Not Logged In</h2>
    <% } else { %>
    <div id="container"></div>
    <div id="Header"><img id="imgLogo" src="theme/CorrectLogoGR_5.png"></div>
    <!-- 'menu' id is the navigation bar -->
    <div id="menu">
        <!-- unordered list for the nav bar -->
        <ul>
            <li><a href="/">Home</li>
            <li><a href="/profile">Profile</li>
            <li><a href="#">About</li>
            <li><a href="./auth/google" onclick="googleLogin()">Login with Google!</a></li>
            <li><a href="upload.html">Upload Clip</a></li>
        </ul>
    </div>

    <div id="clipContainer">
        <div id="clipOwner">

        </div>
    </div>

    <% } %>

</body>

</html>