<html>

    <head>
        <title>GamerGetRekt Profile</title>
        <link rel="stylesheet" type="text/css" href="CSS/style.css" />
        <link rel="stylesheet" type="text/css" href="CSS/menu.css" />
        <link rel="stylesheet" type="text/css" href="CSS/800px.css" media="screen and (max width: 800px)" />
    </head>
    
    <script src="/socket.io/socket.io.js"></script>
    <script src="web_scripts/homePage.js"></script>
    <script src="web_scripts/profilePage.js"></script>
    
    <style>
        body {
            margin-left: 0px;
            margin-right: 0px;
            margin-top: 0px;
            margin-bottom: 0px;
        }
    </style>

    <body>
        <% if(user == undefined) {%>
            <div id="Header"><img id="imgLogo" src="theme/GR_Logo_Final.png"></div>
            <div id="menu">
                <ul>
                    <li><a href="/">Home</li>
                    <li><a href="/profile">Profile</li>
                    <li><a href="#">About</li>
                    <li><a href="./auth/google" onclick="googleLogin()">Login with Google!</a></li>
                    <li><a href="upload.html">Upload Clip</a></li>
                </ul>
            </div>
            <h2 id="noUser">Not Logged In</h2>
          <% } else { %>
        
            <div id="Header"><img id="imgLogo" src="theme/CorrectLogoGR_5.png"></div>
            <div id="menu">
                <ul>
                    <li><a href="/">Home</li>
                    <li><a href="/profile">Profile</li>
                    <li><a href="#">About</li>
                    <li><a href="./auth/google" onclick="googleLogin()">Login with Google!</a></li>
                    <li><a href="upload.html">Upload Clip</a></li>
                </ul>
            </div>
            <aside id = "Sidebar"><h1>Profile</h1>
                <div class="user-pic">
                    <img width = "300"length = "200" src= <%=user.googleProfile._json.picture %>  >
                </div>
                <div class = "user-info">
                    <span class = "name"><%=user.googleProfile.displayName %> <br></span>
                    <span class = "email">joeexoctic.tv@gmail.com <br></span>
                    <span class = "status">Online <br></span>
                </div>
                <div class = "Search">
                    <form>
                        <div class = "row">
                            <input type="text" placeholder="Search Profile">
                            <button type = "submit"> Search</button>
                        </div>
                    </form>
                </div>
                <div class = profileOptions>
                    <h2>General <br></h2>
                    <h2>Settings <br></h2>
                </div>
            </aside>
              <h2></h2>
            <% } %>
            
    </body>
</html>