/* seperate menu.css file just to keep tidy */
#menu {
    height: 60px;
    /*    background-color: grey;*/
    background-color: #29282d;
    outline: #3126ff;
    outline-width: 10px;
    /*    border: solid black;*/
    border-width: 5px;
}

#menu ul {
    margin: 0;
    padding: 0;
}

#menu li {
    list-style-type: none;
    float: left;
    display: block;
    width: 150px;
    height: 60px;
    text-align: center;
    line-height: 55px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
}

#menu li a {
    text-decoration: none;
    color: white;
    width: 150px;
    height: 60px;
}

#menu li:hover {
    background-color: #3126ff;
}
